.linechart {
    overflow-x: auto;
}

.wrapper {
    margin-top: 100px;
}

.title {
    font-size: 22px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {

    &_month {
        min-width: 300px;
    }
}