.main {
    background-image: url('../../assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 50%;
}

.title {
    font-weight: 400;
    font-size: 28px;
    margin-top: 0;
}

.btn {
    margin-top: 30px;
}

.friends {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.friend {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 15px;
    background-color: #E52F5B;
    color: #fff;
    width: fit-content;
    padding: 0 10px;
    border-radius: 15px;

    &_empty {
        border: 3px dotted #ffbacb;
        width: 150px;
        border-radius: 15px;
        height: 60px;
    }
}