.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 36px;
    font-weight: 400;
    text-transform: lowercase;
}