.main {
    display: flex;
    gap: 30px;
    min-height: 93vh;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

.left, .right {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.username {
    margin-right: 30px;
    user-select: none;
    font-weight: 600;
}