.main {
    display: flex;
    gap: 30px;
    height: 93vh;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

.left, .right {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
}